
.advertisements-container {
    display: flex;
    flex-wrap: wrap;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: auto;
}

.form-container {
    width: 30%;
}

header h1 {
    height: 10vh;
    text-align: center;
    margin: 20px;
}

.signup-container {
    display: flex;
    flex-wrap: wrap;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: auto;
}

.form-container {
    width: 30%;
}



.login-container {
    display: flex;
    flex-wrap: wrap;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: auto;
}

.login-container {
    width: 30%;
}